<div>
    <link href="./frame.css" rel="stylesheet" />
    <div class="frame-container">
      <div class="frame-frame">
        <div class="frame-banner">
          <div class="frame-background">
            <img
              src="/ellipse41612-oy1k-200h.png"
              alt="Ellipse41612"
              class="frame-ellipse4"
            />
            <img
              src="/ellipse31612-vzif-300h.png"
              alt="Ellipse31612"
              class="frame-ellipse3"
            />
            <img
              src="/ellipse11612-ea06-300w.png"
              alt="Ellipse11612"
              class="frame-ellipse1"
            />
            <img
              src="/ellipse21612-1o3-300h.png"
              alt="Ellipse21612"
              class="frame-ellipse2"
            />
            <img
              src="/ellipse31612-rb98-200w.png"
              alt="Ellipse31612"
              class="frame-ellipse31"
            />
            <img
              src="/ellipse51612-82na-300h.png"
              alt="Ellipse51612"
              class="frame-ellipse5"
            />
          </div>
          <img src="/rectangle11612-lmc-1100h.png" alt="Rectangle11612" />
          <div class="frame-logo">
            <div class="frame-clippathgroup">
              <div class="frame-frame165ec15ae9">
                <img
                  src="/vector1612-ib5y.svg"
                  alt="Vector1612"
                  class="frame-vector"
                />
              </div>
              <div class="frame-group">
                <div class="frame-maskgroup">
                  <div class="frame-group01">
                    <div class="frame-group02">
                      <div class="frame-group03">
                        <img
                          src="/rectangle1612-d8th-300w.png"
                          alt="Rectangle1612"
                          class="frame-rectangle"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="frame-group04">
                    <div class="frame-group05">
                      <img
                        src="/rectangle1612-dj0i-300w.png"
                        alt="Rectangle1612"
                        class="frame-rectangle1"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-clippathgroup1">
              <div class="frame-frame46f8df6d3d">
                <img
                  src="/vector1612-48us9.svg"
                  alt="Vector1612"
                  class="frame-vector01"
                />
              </div>
              <div class="frame-group06">
                <div class="frame-maskgroup1">
                  <div class="frame-group07">
                    <div class="frame-group08">
                      <div class="frame-group09">
                        <img
                          src="/rectangle1612-uru-300w.png"
                          alt="Rectangle1612"
                          class="frame-rectangle2"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="frame-group10">
                    <div class="frame-group11">
                      <img
                        src="/rectangle1612-29b-300w.png"
                        alt="Rectangle1612"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-clippathgroup2">
              <div class="frame-frame15ca3d301e">
                <img
                  src="/vector1612-76t.svg"
                  alt="Vector1612"
                  class="frame-vector02"
                />
              </div>
              <div class="frame-group12">
                <div class="frame-maskgroup2">
                  <div class="frame-group13">
                    <div class="frame-group14">
                      <div class="frame-group15">
                        <img
                          src="/rectangle1612-3lgb-300w.png"
                          alt="Rectangle1612"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="frame-group16">
                    <div class="frame-group17">
                      <img
                        src="/rectangle1612-2r1-300w.png"
                        alt="Rectangle1612"
                        class="frame-rectangle5"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-clippathgroup3">
              <div class="frame-frame36f515708a">
                <img
                  src="/vector1612-z3.svg"
                  alt="Vector1612"
                  class="frame-vector03"
                />
              </div>
              <div class="frame-group18">
                <img
                  src="/vector1612-nlis.svg"
                  alt="Vector1612"
                  class="frame-vector04"
                />
              </div>
            </div>
            <div class="frame-group19">
              <div class="frame-group20">
                <div class="frame-group21">
                  <img
                    src="/vector1612-vbg.svg"
                    alt="Vector1612"
                    class="frame-vector05"
                  />
                </div>
              </div>
            </div>
            <div class="frame-group22">
              <div class="frame-group23">
                <div class="frame-group24">
                  <img
                    src="/vector1612-p67q.svg"
                    alt="Vector1612"
                    class="frame-vector06"
                  />
                </div>
              </div>
            </div>
            <div class="frame-group25">
              <div class="frame-group26">
                <div class="frame-group27">
                  <img
                    src="/vector1612-v48i.svg"
                    alt="Vector1612"
                    class="frame-vector07"
                  />
                </div>
              </div>
            </div>
            <div class="frame-group28">
              <div class="frame-group29">
                <div class="frame-group30">
                  <img
                    src="/vector1612-h688.svg"
                    alt="Vector1612"
                    class="frame-vector08"
                  />
                </div>
              </div>
            </div>
            <div class="frame-group31">
              <div class="frame-group32">
                <div class="frame-group33">
                  <img
                    src="/vector1612-xqr8.svg"
                    alt="Vector1612"
                    class="frame-vector09"
                  />
                </div>
              </div>
            </div>
            <div class="frame-group34">
              <div class="frame-group35">
                <div class="frame-group36">
                  <img
                    src="/vector1612-yvz7.svg"
                    alt="Vector1612"
                    class="frame-vector10"
                  />
                </div>
              </div>
            </div>
            <div class="frame-group37">
              <div class="frame-group38">
                <div class="frame-group39">
                  <img
                    src="/vector1612-dd.svg"
                    alt="Vector1612"
                    class="frame-vector11"
                  />
                </div>
              </div>
            </div>
            <div class="frame-group40">
              <div class="frame-group41">
                <div class="frame-group42">
                  <img
                    src="/vector1612-gxeg.svg"
                    alt="Vector1612"
                    class="frame-vector12"
                  />
                </div>
              </div>
            </div>
            <div class="frame-group43">
              <div class="frame-group44">
                <div class="frame-group45">
                  <img
                    src="/vector1612-8ss.svg"
                    alt="Vector1612"
                    class="frame-vector13"
                  />
                </div>
              </div>
            </div>
            <div class="frame-group46">
              <div class="frame-group47">
                <div class="frame-group48">
                  <img
                    src="/vector1612-tyor.svg"
                    alt="Vector1612"
                    class="frame-vector14"
                  />
                </div>
              </div>
            </div>
            <div class="frame-group49">
              <div class="frame-group50">
                <div class="frame-group51">
                  <img
                    src="/vector1612-ypo9.svg"
                    alt="Vector1612"
                    class="frame-vector15"
                  />
                </div>
              </div>
            </div>
            <div class="frame-group52">
              <div class="frame-group53">
                <div class="frame-group54">
                  <img
                    src="/vector1612-8mx.svg"
                    alt="Vector1612"
                    class="frame-vector16"
                  />
                </div>
              </div>
            </div>
            <div class="frame-group55">
              <div class="frame-group56">
                <div class="frame-group57">
                  <img
                    src="/vector1612-muln.svg"
                    alt="Vector1612"
                    class="frame-vector17"
                  />
                </div>
              </div>
            </div>
            <div class="frame-group58">
              <div class="frame-group59">
                <div class="frame-group60">
                  <img
                    src="/vector1612-1pks.svg"
                    alt="Vector1612"
                    class="frame-vector18"
                  />
                </div>
              </div>
            </div>
            <div class="frame-group61">
              <div class="frame-group62">
                <div class="frame-group63">
                  <img
                    src="/vector1612-1ndk.svg"
                    alt="Vector1612"
                    class="frame-vector19"
                  />
                </div>
              </div>
            </div>
            <div class="frame-group64">
              <div class="frame-group65">
                <div class="frame-group66">
                  <img
                    src="/vector1612-vmnd.svg"
                    alt="Vector1612"
                    class="frame-vector20"
                  />
                </div>
              </div>
            </div>
            <div class="frame-group67">
              <div class="frame-group68">
                <div class="frame-group69">
                  <img
                    src="/vector1612-jpy.svg"
                    alt="Vector1612"
                    class="frame-vector21"
                  />
                </div>
              </div>
            </div>
            <div class="frame-group70">
              <div class="frame-group71">
                <div class="frame-group72">
                  <img
                    src="/vector1612-ykxt.svg"
                    alt="Vector1612"
                    class="frame-vector22"
                  />
                </div>
              </div>
            </div>
          </div>
          <span class="frame-text"><span>校系適切度分析</span></span>
          <span class="frame-text02"><span>關於我們</span></span>
          <span class="frame-text04"><span>FAQ</span></span>
          <span class="frame-text06"><span>外連網站</span></span>
          <span class="frame-text08"><span>Collego !</span></span>
          <span class="frame-text10"><span>大考中心</span></span>
          <img
            src="/vector11612-jw3t.svg"
            alt="Vector11612"
            class="frame-vector1"
          />
        </div>
        <span class="frame-text12"><span>校系適切度分析</span></span>
        <span class="frame-text14">
          <span>Step2. 你覺得自己是個......的人?</span>
        </span>
        <button class="frame-buttons">
          <span class="frame-text16"><span>下一步</span></span>
        </button>
        <button class="frame-buttons1">
          <span class="frame-text18"><span>上一步</span></span>
        </button>
        <img
          src="/rectangle31713-triq-200h.png"
          alt="Rectangle31713"
          class="frame-rectangle3"
        />
        <img
          src="/rectangle41713-726p-300h.png"
          alt="Rectangle41713"
          class="frame-rectangle4"
        />
        <span class="frame-text20">
          <span>把覺得符合自己個性描述的選項拖曳到這邊 (選 1~3 個)</span>
        </span>
        <img
          src="/rectangle67926-3gam-200h.png"
          alt="Rectangle67926"
          class="frame-rectangle6"
        />
        <img
          src="/rectangle77926-qn3m-200h.png"
          alt="Rectangle77926"
          class="frame-rectangle7"
        />
        <img
          src="/rectangle97926-eakj-200h.png"
          alt="Rectangle97926"
          class="frame-rectangle9"
        />
        <img
          src="/rectangle127926-6z39-200h.png"
          alt="Rectangle127926"
          class="frame-rectangle12"
        />
        <img
          src="/rectangle138026-pr9e-200h.png"
          alt="Rectangle138026"
          class="frame-rectangle13"
        />
        <img
          src="/rectangle107926-2zy5-200h.png"
          alt="Rectangle107926"
          class="frame-rectangle10"
        />
        <span class="frame-text22"><span>內向</span></span>
        <span class="frame-text24"><span>外向</span></span>
        <span class="frame-text26"><span>喜歡表現自我</span></span>
        <span class="frame-text28"><span>沉穩</span></span>
        <img
          src="/rectangle141382-n32-200h.png"
          alt="Rectangle141382"
          class="frame-rectangle14"
        />
        <span class="frame-text30"><span>冷靜</span></span>
        <span class="frame-text32"><span>活潑</span></span>
        <span class="frame-text34"><span>喜歡人群</span></span>
      </div>
    </div>
  </div>
  