<div>
    <link href="./frame.css" rel="stylesheet" />
    <div class="frame-container">
      <div class="frame-frame">
        <div class="frame-banner">
          <div class="frame-background">
            <img
              src="/ellipse41612-enj-200h.png"
              alt="Ellipse41612"
              class="frame-ellipse4"
            />
            <img
              src="/ellipse31612-md3i-300h.png"
              alt="Ellipse31612"
              class="frame-ellipse3"
            />
            <img
              src="/ellipse11612-zeyn-300w.png"
              alt="Ellipse11612"
              class="frame-ellipse1"
            />
            <img
              src="/ellipse21612-2zg-300h.png"
              alt="Ellipse21612"
              class="frame-ellipse2"
            />
            <img
              src="/ellipse31612-jclg-200w.png"
              alt="Ellipse31612"
              class="frame-ellipse31"
            />
            <img
              src="/ellipse51612-x6i-300h.png"
              alt="Ellipse51612"
              class="frame-ellipse5"
            />
          </div>
          <img src="/rectangle11612-0ufr-1100h.png" alt="Rectangle11612" />
          <div class="frame-logo">
            <div class="frame-clippathgroup">
              <div class="frame-frame165ec15ae9">
                <img
                  src="/vector1612-6v6.svg"
                  alt="Vector1612"
                  class="frame-vector"
                />
              </div>
              <div class="frame-group">
                <div class="frame-maskgroup">
                  <div class="frame-group01">
                    <div class="frame-group02">
                      <div class="frame-group03">
                        <img
                          src="/rectangle1612-xb7f-300w.png"
                          alt="Rectangle1612"
                          class="frame-rectangle"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="frame-group04">
                    <div class="frame-group05">
                      <img
                        src="/rectangle1612-vfuj-300w.png"
                        alt="Rectangle1612"
                        class="frame-rectangle1"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-clippathgroup1">
              <div class="frame-frame46f8df6d3d">
                <img
                  src="/vector1612-scf6.svg"
                  alt="Vector1612"
                  class="frame-vector01"
                />
              </div>
              <div class="frame-group06">
                <div class="frame-maskgroup1">
                  <div class="frame-group07">
                    <div class="frame-group08">
                      <div class="frame-group09">
                        <img
                          src="/rectangle1612-a7cs-300w.png"
                          alt="Rectangle1612"
                        />
                      </div>
                    </div>
                  </div>
                  <div>
                    <div>
                      <img
                        src="/rectangle1612-7g-300w.png"
                        alt="Rectangle1612"
                        class="frame-rectangle3"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-clippathgroup2">
              <div class="frame-frame15ca3d301e">
                <img
                  src="/vector1612-msg.svg"
                  alt="Vector1612"
                  class="frame-vector02"
                />
              </div>
              <div class="frame-group12">
                <div class="frame-maskgroup2">
                  <div class="frame-group13">
                    <div class="frame-group14">
                      <div class="frame-group15">
                        <img
                          src="/rectangle1612-cdxf-300w.png"
                          alt="Rectangle1612"
                          class="frame-rectangle4"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="frame-group16">
                    <div class="frame-group17">
                      <img
                        src="/rectangle1612-elul-300w.png"
                        alt="Rectangle1612"
                        class="frame-rectangle5"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-clippathgroup3">
              <div class="frame-frame36f515708a">
                <img
                  src="/vector1612-m5c.svg"
                  alt="Vector1612"
                  class="frame-vector03"
                />
              </div>
              <div class="frame-group18">
                <img
                  src="/vector1612-bm4.svg"
                  alt="Vector1612"
                  class="frame-vector04"
                />
              </div>
            </div>
            <div class="frame-group19">
              <div class="frame-group20">
                <div class="frame-group21">
                  <img
                    src="/vector1612-lzxf.svg"
                    alt="Vector1612"
                    class="frame-vector05"
                  />
                </div>
              </div>
            </div>
            <div class="frame-group22">
              <div class="frame-group23">
                <div class="frame-group24">
                  <img
                    src="/vector1612-gbbj.svg"
                    alt="Vector1612"
                    class="frame-vector06"
                  />
                </div>
              </div>
            </div>
            <div class="frame-group25">
              <div class="frame-group26">
                <div class="frame-group27">
                  <img
                    src="/vector1612-mkw.svg"
                    alt="Vector1612"
                    class="frame-vector07"
                  />
                </div>
              </div>
            </div>
            <div class="frame-group28">
              <div class="frame-group29">
                <div class="frame-group30">
                  <img
                    src="/vector1612-q7fr.svg"
                    alt="Vector1612"
                    class="frame-vector08"
                  />
                </div>
              </div>
            </div>
            <div class="frame-group31">
              <div class="frame-group32">
                <div class="frame-group33">
                  <img
                    src="/vector1612-anoj.svg"
                    alt="Vector1612"
                    class="frame-vector09"
                  />
                </div>
              </div>
            </div>
            <div class="frame-group34">
              <div class="frame-group35">
                <div class="frame-group36">
                  <img
                    src="/vector1612-iw8.svg"
                    alt="Vector1612"
                    class="frame-vector10"
                  />
                </div>
              </div>
            </div>
            <div class="frame-group37">
              <div class="frame-group38">
                <div class="frame-group39">
                  <img
                    src="/vector1612-44r8.svg"
                    alt="Vector1612"
                    class="frame-vector11"
                  />
                </div>
              </div>
            </div>
            <div class="frame-group40">
              <div class="frame-group41">
                <div class="frame-group42">
                  <img
                    src="/vector1612-i7or.svg"
                    alt="Vector1612"
                    class="frame-vector12"
                  />
                </div>
              </div>
            </div>
            <div class="frame-group43">
              <div class="frame-group44">
                <div class="frame-group45">
                  <img
                    src="/vector1612-vev6.svg"
                    alt="Vector1612"
                    class="frame-vector13"
                  />
                </div>
              </div>
            </div>
            <div class="frame-group46">
              <div class="frame-group47">
                <div class="frame-group48">
                  <img
                    src="/vector1612-i0t9.svg"
                    alt="Vector1612"
                    class="frame-vector14"
                  />
                </div>
              </div>
            </div>
            <div class="frame-group49">
              <div class="frame-group50">
                <div class="frame-group51">
                  <img
                    src="/vector1612-2kz.svg"
                    alt="Vector1612"
                    class="frame-vector15"
                  />
                </div>
              </div>
            </div>
            <div class="frame-group52">
              <div class="frame-group53">
                <div class="frame-group54">
                  <img
                    src="/vector1612-mh49.svg"
                    alt="Vector1612"
                    class="frame-vector16"
                  />
                </div>
              </div>
            </div>
            <div class="frame-group55">
              <div class="frame-group56">
                <div class="frame-group57">
                  <img
                    src="/vector1612-5pw.svg"
                    alt="Vector1612"
                    class="frame-vector17"
                  />
                </div>
              </div>
            </div>
            <div class="frame-group58">
              <div class="frame-group59">
                <div class="frame-group60">
                  <img
                    src="/vector1612-f7ts.svg"
                    alt="Vector1612"
                    class="frame-vector18"
                  />
                </div>
              </div>
            </div>
            <div class="frame-group61">
              <div class="frame-group62">
                <div class="frame-group63">
                  <img
                    src="/vector1612-lihs.svg"
                    alt="Vector1612"
                    class="frame-vector19"
                  />
                </div>
              </div>
            </div>
            <div class="frame-group64">
              <div class="frame-group65">
                <div class="frame-group66">
                  <img
                    src="/vector1612-0xk1.svg"
                    alt="Vector1612"
                    class="frame-vector20"
                  />
                </div>
              </div>
            </div>
            <div class="frame-group67">
              <div class="frame-group68">
                <div class="frame-group69">
                  <img
                    src="/vector1612-ew8s.svg"
                    alt="Vector1612"
                    class="frame-vector21"
                  />
                </div>
              </div>
            </div>
            <div class="frame-group70">
              <div class="frame-group71">
                <div class="frame-group72">
                  <img
                    src="/vector1612-4yg3.svg"
                    alt="Vector1612"
                    class="frame-vector22"
                  />
                </div>
              </div>
            </div>
          </div>
          <span class="frame-text"><span>校系適切度分析</span></span>
          <span class="frame-text02"><span>關於我們</span></span>
          <span class="frame-text04"><span>FAQ</span></span>
          <span class="frame-text06"><span>外連網站</span></span>
          <span class="frame-text08"><span>Collego !</span></span>
          <span class="frame-text10"><span>大考中心</span></span>
          <img
            src="/vector11612-n2e.svg"
            alt="Vector11612"
            class="frame-vector1"
          />
        </div>
        <span class="frame-text12"><span>校系適切度分析</span></span>
        <span class="frame-text14"><span>Step1. 輸入你的分科測驗成績</span></span>
        <div class="frame-group1">
          <span class="frame-text16"><span>國文</span></span>
          <img
            src="/rectangle21713-716-200h.png"
            alt="Rectangle21713"
            class="frame-rectangle2"
          />
        </div>
        <div class="frame-group4">
          <span class="frame-text18"><span>歷史</span></span>
          <img
            src="/rectangle21713-lzn-200h.png"
            alt="Rectangle21713"
            class="frame-rectangle201"
          />
        </div>
        <div class="frame-group7">
          <span class="frame-text20"><span>公民</span></span>
          <img
            src="/rectangle21713-x9wk-200h.png"
            alt="Rectangle21713"
            class="frame-rectangle202"
          />
        </div>
        <div class="frame-group10">
          <span class="frame-text22"><span>生物</span></span>
          <img
            src="/rectangle21713-3cm9-200h.png"
            alt="Rectangle21713"
            class="frame-rectangle203"
          />
        </div>
        <div class="frame-group2">
          <span class="frame-text24"><span>英文</span></span>
          <img
            src="/rectangle21713-5jws-200h.png"
            alt="Rectangle21713"
            class="frame-rectangle204"
          />
        </div>
        <div class="frame-group5">
          <span class="frame-text26"><span>地理</span></span>
          <img
            src="/rectangle21713-7ngth-200h.png"
            alt="Rectangle21713"
            class="frame-rectangle205"
          />
        </div>
        <div class="frame-group8">
          <span class="frame-text28"><span>物理</span></span>
          <img
            src="/rectangle21713-ztg2-200h.png"
            alt="Rectangle21713"
            class="frame-rectangle206"
          />
        </div>
        <div class="frame-group3">
          <span class="frame-text30"><span>數學B</span></span>
          <img
            src="/rectangle21713-95r-200h.png"
            alt="Rectangle21713"
            class="frame-rectangle207"
          />
        </div>
        <div class="frame-group6">
          <span class="frame-text32"><span>數學A</span></span>
          <img
            src="/rectangle21713-bcto-200h.png"
            alt="Rectangle21713"
            class="frame-rectangle208"
          />
        </div>
        <div class="frame-group11">
          <span class="frame-text34"><span>化學</span></span>
          <img
            src="/rectangle21713-75mb-200h.png"
            alt="Rectangle21713"
            class="frame-rectangle209"
          />
        </div>
        <button class="frame-buttons">
          <span class="frame-text36"><span>下一步</span></span>
        </button>
        <span class="frame-text38"><span>級分</span></span>
        <span class="frame-text40"><span>級分</span></span>
        <span class="frame-text42"><span>級分</span></span>
      </div>
    </div>
  </div>
  